.inputRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  input {
    flex: 1;
    display: block;
  }
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}